/* 110% */

@media only screen and (max-width: 1919px) {
  .mini-desc {
    margin-left: 650px;
    margin-top: 350px;
  }

  .some-text {
    font-size: 90px;
    margin-left: 400px;
    margin-top: 550px;
  }

  .some-img {
    margin-left: 880px;
    margin-top: 90px;
  }
  .some-img img {
    width: 300px;
  }
}

/* 125% */

@media only screen and (max-width: 1745px) {
  .main-img img {
    width: 600px;
  }

  .mini-desc {
    margin-left: 860px;
    margin-top: 380px;
  }

  .some-text {
    font-size: 75px;
    margin-left: 500px;
    margin-top: 600px;
  }

  .some-img {
    margin-left: 780px;
    margin-top: 90px;
  }
  .some-img img {
    width: 250px;
  }
}
/*150%*/
@media only screen and (max-width: 1535px) {
  .main-img img {
    width: 500px;
  }

  .mini-desc {
    margin-left: 580px;
    margin-top: 380px;
  }

  .some-text {
    font-size: 75px;
    margin-left: 380px;
    margin-top: 500px;
  }

  .some-img {
    margin-left: 780px;
    margin-top: 90px;
  }
  .some-img img {
    width: 250px;
  }
}

/* 200% */

@media only screen and (max-width: 1097px) {
  .main-img img {
    width: 500px;
  }

  .mini-desc {
    margin-left: 450px;
  }

  .some-text {
    margin-left: 230px;
  }

  .some-img {
    margin-left: 640px;
  }
  .some-img img {
    display: none;
  }
}
/* 250% */

@media only screen and (max-width: 959px) {
  .main-img img {
    width: 450px;
    margin-left: -25px;
    margin-top: 50px;
  }

  .mini-desc {
    margin-left: 250px;
  }

  .some-text {
    margin-left: 120px;
  }

  .some-img {
    display: none;
  }
}

/* 300% */

@media only screen and (max-width: 767px) {
  .main-img img {
    margin-left: -150px;
  }

  .mini-desc {
    margin-left: 140px;
  }

  .some-text {
    font-size: 60px;
  }
}
/* 400% */

@media only screen and (max-width: 639px) {
  .main-img img {
    width: 500px;
    margin-left: -200px;
  }

  .mini-desc {
    margin-left: 100px;
    font-size: 25px;
    width: 350px;
    font-weight: bolder;
    margin-top: 500px;
  }

  .some-text {
    font-size: 60px;
    width: 470px;
    margin-left: 0;
    text-align: center;
    margin-top: 650px;
  }
}

@media only screen and (max-width: 549px) {
  .main-img img {
    width: 500px;
    margin-left: -300px;
  }

  .mini-desc {
    text-align: center;
    margin-left: 10px;
    font-size: 25px;
    width: 350px;
    font-weight: bolder;
    margin-top: 500px;
  }

  .some-text {
    font-size: 60px;
    width: 470px;
    margin-left: 0;
    text-align: center;
    margin-top: 650px;
  }
}

/* 500% */

@media only screen and (max-width: 479px) {
  .main-img img {
    width: 400px;
  }

  .mini-desc {
    margin-left: 130px;
    font-size: 25px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .some-text {
    font-size: 60px;
    width: 100%;

    margin-left: 10px;
    text-align: center;
  }

  .home-container {
    height: 900px;
  }
}
